Choose a photo to delete:

<% photos = Photo.all %>
<% i = 1 %>
<% while i <= photos.length do %>
  <% item = Photo.find(i) %>
  <ul>
    <li><a href="/delete_photo_row/<%= item.id %>"><%= item.title %></a></li>
  </ul>
  <% i += 1 %>
<% end %>
