<br>
<form action="/create_photos">
  <input type="submit" value="Add Photos">
</form>
<br>
<form action="/read_photos">
  <input type="submit" value="View Photos">
</form>
<br>
<form action="/update_photos">
  <input type="submit" value="Edit Photos">
</form>
<br>
<form action="/delete_photos">
  <input type="submit" value="Delete Photos">
</form>
