Click on a photo to see a list of albums to which it belongs.
<% photos = Photo.all %>
<% photos.each do |item| %>
  <ul>
    <li><a href="/albums_with_photo/<%= item.id %>"><%= item.title %></a></li>
  </ul>
<% end %>
