<a href="/photos/create_photos">Create (Upload) Photos</a>
<br>
<a href="/photos/read_photos">Read (View) Photos</a>
<br>
<a href="/photos/update_photos">Update (Edit) Photos</a>
<br>
<a href="/photos/delete_photos">Delete Photos</a>
