Click on a photo to see a list of albums to which it belongs.
<img id="top_photo" src="../badger.png"> indicates top photo.
<% photos = Photo.all %>
<% photos.each do |item| %>
  <ul>
    <% if Photo.top_photo?(item) == true %>
      <li><a href="/albums_with_photo/<%= item.id %>"><%= item.title %></a> <img id="top_photo" src="../badger.png"></li>
    <% else %>
      <li><a href="/albums_with_photo/<%= item.id %>"><%= item.title %></a></li>
    <% end %>
  </ul>
<% end %>
