<a href="/create_photos">Create (Upload) Photos</a>
<br>
<a href="/read_photos">Read (View) Photos</a>
<br>
<a href="/update_photos">Update (Edit) Photos</a>
<br>
<a href="/delete_photos">Delete Photos</a>
