<!DOCTYPE HTML>
<html>
  <head>
    <title>Photo Album Database</title>
    <link rel="stylesheet" href="global.css">
  </head>

  <header>
    Photo Album Database
  </header>

  <body>
    <%= yield %>
    <!-- <script type="text/javascript" src="global.js"></script> -->
  </body>

</html>
