<br>
<!-- Need to figure out how to get the images to work from the assets folder -->
<form action="/photographers_main">
  <img class="icon" src="../camera_icon.jpeg">
  <br><input type="submit" value="Manage Photographers">
</form>
<br>
<form action="/photos_main">
  <img class="icon" src="../photos.png">
  <br><input type="submit" value="Manage Photos">
</form>
<br>
<form action="/albums_main">
  <img class="icon" src="../album.png">
  <br><input type="submit" value="Manage Albums">
</form>
