<br>
<!-- Need to figure out how to get the images to work from the assets folder -->
<form action="/photographers_main">
  <img class="icon" src="http://vignette3.wikia.nocookie.net/steven-universe/images/8/80/Camera.svg/revision/latest?cb=20150131234831">
  <br><input type="submit" value="Manage Photographers">
</form>
<br>
<form action="/photos_main">
  <img class="icon" src="http://psdhunter.com/psds/1772-thumb-blank-polaroid-frame-background.png">
  <br><input type="submit" value="Manage Photos">
</form>
<br>
<form action="/albums_main">
  <img class="icon" src="http://icons.iconarchive.com/icons/iconsmind/outline/128/Photo-Album-2-icon.png">
  <br><input type="submit" value="Manage Albums">
</form>
