Click on an album name to see all photos in that album.
<% albums = Album.all %>
<% i = 1 %>
<% while i <= albums.length do %>
  <% item = Album.find(i) %>
  <ul>
  <li><a href="/photos_in_album/<%= item.id %>"><%= item.album_title %></a></li>
  </ul>
  <% i += 1 %>
<% end %>
