<br>
<form action="/create_albums">
  <input type="submit" value="Create Photo Albums">
</form>
<br>
<form action="/read_albums">
  <input type="submit" value="View Photo Albums">
</form>
<br>
<form action="/update_albums">
  <input type="submit" value="Edit Photo Albums">
</form>
<br>
<form action="/delete_albums">
  <input type="submit" value="Delete Photo Albums">
</form>
