<a href="/create_albums">Create (Add) Albums</a>
<br>
<a href="/read_albums">Read (View) Albums</a>
<br>
<a href="/update_albums">Update (Edit) Albums</a>
<br>
<a href="/delete_albums">Delete Albums</a>
