<h3>Edit Album</h3>

<!-- Edit album name -->
<form action="/save_edited_album">

  <p><h4>Update album info:</h4></p>
  <p>Album Title: <input type="text" name="album_title" value="<%= @item.album_title %>"></p>

  <input type="hidden" name="x" value="<%= params["x"] %>">

  <p><input type="submit" value="edit album"></p>
</form>

<!-- Add new photo to album -->
<form action="/add_new_photo_to_album">

  <p><h4>Add new photo:</h4></p>
  <p>Title: <input type="text" name="title"></p>

  <input type="hidden" name="x" value="<%= params["x"] %>">

  <p><input type="submit" value="add photo"></p>
</form>
