Edit album title or add Photo

Edit album title
<form action=" ">
  choose album
  <input type="text" name="album_title">
  <input type="submit" value="edit album">
</form>

New photo
<form action=" ">
  choose album
  <input type="text" name="title">
  <input type="submit" value="add new photo to album">

Assign existing photo by title
<form action=" ">
  choose album
  <input type="text" name="title">
  <input type="submit" value="add photo to album">
