Choose a photographer to delete:

<% photographers = Photographer.all %>
<% photographers.each do |item| %>
  <ul>
    <li><a href="/delete_photographer_row/<%= item.id %>"><%= item.name %></a></li>
  </ul>
<% end %>
