Photos by <%= @item.name %>
<br>
<img id="top_photo" src="../badger.png"> indicates top photo.
<% list = @item.photos %>
<% list.each do |a| %>
<ul>
  <% if Photo.top_photo?(a) == true %>
    <li><%= a.title %> <img id="top_photo" src="../badger.png"></li>
  <% else %>
    <li><%= a.title %></li>
  <% end %>
</ul>
<% end %>
