<a href="/create_photographers">Create (Add) Photographers</a>
<br>
<a href="/read_photographers">Read (View) Photographers</a>
<br>
<a href="/update_photographers">Update (Edit) Photographers</a>
<br>
<a href="/delete_photographers">Delete Photographers</a>
