<br>
<form action="/create_photographers">
  <input type="submit" value="Add Photographers">
</form>
<br>
<form action="/read_photographers">
  <input type="submit" value="View Photographers">
</form>
<br>
<form action="/update_photographers">
  <input type="submit" value="Edit Photographers">
</form>
<br>
<form action="/delete_photographers">
  <input type="submit" value="Delete Photographers">
</form>
