Click on a photographer to see all of his/her photos.

<% photographers = Photographer.all %>
<% photographers.each do |item| %>
  <ul>
    <li><a href="/photos_by_photographer/<%= item.id %>"><%= item.name %></a></li>
  </ul>
<% end %>
