Edit photographer or add Photo

Edit photographer name
<form action=" ">
  choose photographer
  <input type="text" name="name">
  <input type="submit" value="edit photographer">
</form>

New photo
<form action=" ">
  choose photographer
  <input type="text" name="title">
  <input type="submit" value="add new photo to photographer">

Assign existing photo by title
<form action=" ">
  choose photographer
  <input type="text" name="title">
  <input type="submit" value="add photo to photographer">
